.input-group {
    display: inline;
}

.input-group-btn {
    display: inline;
}

.input-group-btn button {
    height: 2.72em;
    margin-right: -3px !important;
    margin-top: -3px;
    border-bottom: solid 1px #8c8c8c;
    border-left: solid 1px #8c8c8c;
    border-top: solid 1px #8c8c8c;
}

#queryBuilder
{
	z-index:0;
	overflow-y: auto;
}

#queryBuilder .elementInput
{
	width: 190px;
}

#queryBuilder .queryInput
{
	width:460px;
}

#queryBuilder .valueInput
{
	width:150px;
}

#queryBuilder select.valueInput
{
	width:225px;
}

#queryBuilder input{
    height: 2em;
    font-size: 0.9em;
    padding: 0 0 0 5px;
    display: inline;
    border: solid 1px #8c8c8c;
}

#queryBuilder input[readonly]
{
	cursor:pointer;
}

#queryBuilder div
{
	font-weight: bold;
	margin: 0.5em;
	margin-bottom: 25px;
}

#queryForm select {
    height: 1.8em;
    border-radius: 3px;
}

#subElementQueryBuilder .valueInput{
    height: 2em;
    width: 150px;
    display: inline;
    padding: 0;
}

