<div id='crit{{tagID}}'>
{% include 'core_explore_example_app/user/query_builder/and_or_not.html'%}
    <div class="input-group" onclick="showCustomTree('crit{{tagID}}')">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Select field</button>
        </span>
        <input readonly="readonly" type="text" class="elementInput" />
    </div>
    <span id='ui{{tagID}}'>
    </span>
    {% include 'core_explore_example_app/user/query_builder/remove.html' with tagID=tagID%}
    {% include 'core_explore_example_app/user/query_builder/add.html'%}
</div>