
<h1>Select Fields</h1>
<p>
Select the fields that you want to use in your query by clicking on the checkboxes. Only the checked fields will be
available in the query screen. When you are done, please click on Perform Search to access the Query Builder.
</p>

<button class="btn btn-primary save-fields"><i class="fa fa-save"></i> Save Fields </button>

<div id="xsd_form">
    {{data.xsd_form|safe}}
</div>

<div id="dialog-cleared-message" title="Fields Cleared" style="display:none;">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
        Form fields are cleared.
    </p>
</div>